nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="#") Navbar
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      a.nav-item.nav-link.active(href="/index.html") 首頁 
        span.sr-only (current)
      a.nav-item.nav-link(href="/pages/list.html") 分頁