mixin link(url, name)
  if (path === url)
    a.nav-item.nav-link.active(href="#{ url }") #{ name }
  else
    a.nav-item.nav-link(href="#{ url }") #{ name }

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href="#") Navbar
  button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
    span.navbar-toggler-icon
  #navbarNavAltMarkup.collapse.navbar-collapse
    .navbar-nav
      each item in data.list
        +link(item.url, item.name)